@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Schoolbell');

/*
=======================================
Body
=======================================
*/

html {
  margin: 0;
}

/*
=======================================
Typography
=======================================
*/

section h1 {
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 4px;
  color: #330099;
  font-size: 45px;
  margin-bottom: .2em;
}

section h2 {
  margin-top: 0;
  font-family: 'Schoolbell', cursive;
  letter-spacing: 1px;
  color: #330099;
}

section h3 {
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: .6px;
}

section h4 {
    font-family: 'Schoolbell', cursive;
}

section h4 span {
  color: #330099;
}

h6 {
  margin-top: 6em;
  text-align: center;
}

/*
======================================
Main section
======================================
*/

section {
  margin: 0 auto;
  margin-top: 60px;
  width:65%;
  height: 400px;
  border: 3px solid red;
  border-radius: 10px;
  text-align: center;
  background-color: #EED4B9;
  box-shadow: 6px 8px 4px rgba(0,0,0,.4);
}

section div {
  margin-top: 5px;
}

section a {
  text-decoration: none;
  border-radius: 20px;
  background-color: blue;
  margin: 15px;
  color: white;
  padding: 12px 20px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.7);
  font-size: 19px;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: .6px;
}

section a:hover {
  background-color: #484bce;
}

section li {
  list-style-type: none;
  padding: 0;
  margin-top: 3em;
}
